# Data Science Tools and Ecosystem

## Introduction

**Objectives of this notebook:**

* Show basic languages for Data Science
* Show basic libraries for Data Science
* Show basic toolkit for Data Science
* Calculate basic arithmetics
* Convert minutes to hours

In this notebook, Data Science Tools and Ecosystem are summarized.

Data Science languages:
1. Python
2. R
3. SQL
4. Julia
5. Javascript
6. Scala

Data Science libraries:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. Seaborn
6. Pytorch
7. Plotly

| Data Science tools |
----------------------
Jupyter notebook
Tensorflow
Apache Spark
IBM SPSS

### Here is few arithmetic expressions:

4 + 5

2 - 5

2 * 2

4 / 2

Below is a simple arithmetic expression multiplying and adding numbers:

In [4]:
(3*4) + 5

17

In [ ]:
# Expression to convert 200 minutes to hours

In [3]:
minutes = 200
hour = 60 #minutes
minutes / hour

3.3333333333333335

## Author
Alexander